*{
    box-sizing: border-box;
    font-family: "Gill Sans", sans-serif;
}

body{
    font-family: inherit;
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

label{
    text-transform: uppercase;
    display: block;

    color: #dad7cd;
}

.content{
    background-color: #344E41;
    width: 50vw;
    height: 100vh;

    position: absolute;
    right: 0%;

    border-left: 3px solid #dad7cd;
}

.content-para{
    font-size: 1.3rem;

    margin: 26px;
    margin-bottom: 200px;

    color: #dad7cd;
}

.form{
    display: flex;
    flex-flow: row wrap;
}

.form-group{
    margin: 26px;
}

.form-control{
    border: none;
    border-bottom: #023047 3px solid;
    
    outline: none;

    overflow: hidden;

    padding: 5px;
}

.form-control:active{
    outline: none;
    border-bottom: #023047 4px solid;
}