*{
    box-sizing: border-box;
    font-family: "Gill Sans", sans-serif;
    text-transform: uppercase;

    --text-color: #dad7cd;
    --logo-background: #023047;
    --content-color: #344E41; 
    --content-form-color: #344e41;
    --form-bg-color: #606c38;
    --form-bg-bs-color: #242914;
}

body{
    font-family: inherit;
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

label{
    display: block;

    color: var(--text-color)
}

input{
    border-radius: 3%;
}

.hero{
    position: absolute;
    width: 40vw;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    position: relative;
    top: 20vh;

    color: white;
    background-color: var(--logo-background);


    width: 60vw;
    height: 15vh;
}

.logo-text{
    position: absolute;

    color: var(--text-color);
}

.logo-image{
    margin-right: 500px;

    mix-blend-mode: multiply;

    color: white;

    filter: drop-shadow(16px 16px 20px red) invert(75%);
    filter: contrast(200%);
}

.right{
    width: 60vw;
    height: 100vh;

    display: flex;
    flex-flow: column nowrap;
}

.video-bg{
    position: absolute;
    top: 0;

    height: 100vh;
}

.content{
    background-color: var(--content-color);
    width: 50vw;
    height: 101.5vh;

    position: absolute;
    right: 0%;

    border-left: 3px solid var(--text-color);
}

.content-para{
    font-size: 1.3rem;

    margin: 26px;
    margin-bottom: 200px;

    color: var(--text-color);
}

.form{
    display: flex;
    flex-flow: row wrap;

    background-color: var(--form-bg-color);

    box-shadow: 5px 15px 30px var(--form-bg-bs-color);
}

.form-button{
    padding: 10px 20px;

    background-color: transparent;
    color: var(--text-color);

    border-radius: 3%;

    outline: none;

    border: none;
    border: 2px #1d2d44 solid;

    font-size: 1rem;
}

.form-button:hover{
    background-color: #1d2d44;
}

.form-group{
    margin: 26px;
}

.form-control{
    border: none;
    border-bottom: #023047 3px solid;
    
    outline: none;

    overflow: hidden;

    padding: 5px;

    width: 180px;
}

.form-control:focus{
    outline: none;
    border-bottom: #f0ebd8 4px solid;
}